.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card{
  min-width: 490px;
  box-shadow: 0px 3px 5px 0px #bcb6b6;
}
input{
  border-radius: 0;
  border-top: transparent;
  border-left:transparent;
  border-right: transparent;
}
.logo{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.btn{
  width: 100%;
}
.logo-container{
  border-bottom:2px solid #013e52;
}
