<div class="container">
  <div>
    <div class="card">
      <div class="card-body">
        <div class="logo-container mb-5">
          <img class="logo" src="assets/logo.png" alt="">
        </div>
        <form action="" (submit)="onLogin(f)" #f="ngForm">
          <div class="mb-3">
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="password" name="password" ngModel class="form-control" id="password" placeholder="Password">
          </div>
          <div class="mb-3 mt-5">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
